.page[b-lnrd2ucw2v] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: OpenSansRegular, sans-serif;
    color: black;
}

main[b-lnrd2ucw2v] {
    flex: 1;
}

.headline[b-lnrd2ucw2v] {
    font-family: OpenSansRegular, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #190649;
}

.sub-headline[b-lnrd2ucw2v] {
    font-family: OpenSansRegular, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #190649;
}

.sidebar[b-lnrd2ucw2v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: black;
}

.sidebar-title[b-lnrd2ucw2v] {
    color: black;
}

.page-title[b-lnrd2ucw2v] {
    font-size: 1.5rem;
    font-family: OpenSansRegular, sans-serif;
    color: black;
    left: 50%;
    /* top: 50%; */
    position: absolute;
    transform: translateX(-50%);
}

.top-row[b-lnrd2ucw2v] {
    background-color: white;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-family: OpenSansRegular, sans-serif;
    color: black;
    position: relative;
}

    .top-row[b-lnrd2ucw2v]  a, .top-row[b-lnrd2ucw2v]  .btn-link {
        position: static;
        white-space: nowrap;
        margin-left: auto;
        text-decoration: none;
    }

    .top-row[b-lnrd2ucw2v]  a:hover, .top-row[b-lnrd2ucw2v]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lnrd2ucw2v]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-lnrd2ucw2v] {
        justify-content: space-between;
    }

    .top-row[b-lnrd2ucw2v]  a, .top-row[b-lnrd2ucw2v]  .btn-link {
        margin-left: 0;
    }

    .headline[b-lnrd2ucw2v] {
        font-size: 28px;
    }
    .sub-headline[b-lnrd2ucw2v] {
        font-size: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    .page[b-lnrd2ucw2v], .top-row[b-lnrd2ucw2v] {
        background-color: #1f1f1f;
    }
    .top-row[b-lnrd2ucw2v] {
        border-bottom: 1px solid #2c2c2e;
    }
    .page[b-lnrd2ucw2v], .top-row[b-lnrd2ucw2v], .headline[b-lnrd2ucw2v], .subheadline[b-lnrd2ucw2v]{
        color: white;
    }
    .sidebar[b-lnrd2ucw2v], .sidebar-title[b-lnrd2ucw2v], .page-title[b-lnrd2ucw2v] {
        color: #9880e5;
    }
}

@media (min-width: 641px) {
    .page[b-lnrd2ucw2v] {
        flex-direction: row;
    }

    .sidebar[b-lnrd2ucw2v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lnrd2ucw2v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lnrd2ucw2v]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lnrd2ucw2v], article[b-lnrd2ucw2v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-lnrd2ucw2v] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-lnrd2ucw2v] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
