# qiskit==0.45.0
qiskit
qiskit-aer
qiskit-ibm-runtime
qiskit-ibm-provider
sympy
pybind11
python-dotenv
matplotlib
pyqt5

# tensorflow
# tensorflow-macos
# tensorflow-metal

onnx==1.19.1
onnx-ir==0.1.12
onnxruntime==1.21.0
onnxscript==0.5.4
torch==2.9.0
gymnasium==1.2.1
numpy==2.3.4
tqdm==4.67.1