qiskit==2.2.2
# qiskit-aer==0.17.2
qiskit-ibm-provider==0.11.0
qiskit-ibm-runtime==0.43.1
qiskit-terra==0.46.3
sympy
pybind11
python-dotenv
matplotlib
pyqt5

# tensorflow
# tensorflow-macos
# tensorflow-metal

onnx==1.19.1
onnx-ir==0.1.12
onnxruntime==1.21.0
onnxscript==0.5.4
torch==2.9.0
gymnasium==1.2.1
numpy==2.3.4
tqdm==4.67.1

PyYAML==6.0.3
wheel==0.45.1