@page "/"
@using GUI.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="vertical-stack" style="padding: 30px 0; gap: 25px;">
        <img 
            src="_content/GUI.Shared/dotnet_bot.png"
            style="height: 185px; object-fit: contain;"
            alt="dot net bot in a hovercraft number nine" />

        <h1 class="headline">
            Hello, World!
        </h1>

        <h2 class="sub-headline">
            Welcome to
            .NET Multi-platform App UI
        </h2>

        <div>
            Running on <em>@factor</em> using <em>@platform</em>
        </div>
    </div>
</div>

<style>
    .vertical-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}